.hero {
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(
      ellipse at left bottom,
      rgb(255,165,0) 0%,
      rgb(255,140,0) 59%,
      rgba(255,69,0, 0.9) 100%
    );
  }
  
  .hero nav {
    background: #603bbb;
    width: 94%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .hero nav h2 {
    color: #fff;
  }
  
  .hero nav button {
    width: 86px;
    padding: 8px 0;
    background: #3a2b58;
  }
  